# Ignore python cache.
__pycache__/

# Ignore python virtual environment.
.venv/

# Ignore the cache directory.
.cache/

# Ignore the checkpoint directory.
.checkpoints/
.checkpoints*

# Ignore the models directory.
.models/
